{% extends "page.html" %} {% block content %}
<h1 class="title">How-To</h1>
<div class="card">
  <div class="card-content">
    <div class="content">
      <p>
        Just enter a list of albums in "Artist - Title" format and render that
        list to an image. If there is an incorrect or missing cover anywhere,
        you can use a different cover art by adding a pipe ("|") and the url to
        an image behind the album
      </p>
      <p>Example:</p>
      <div class="box">
        <pre>
Bathory - Octagon
Universe - Universe|https://www.metal-archives.com/images/6/1/2/7/61278.jpg
Morbid Angel - Illud Divinum Insanus|https://www.metal-archives.com/images/3/0/2/9/302987.jpg</pre
        >
      </div>
      <p>
        <strong>Charts are not stored anywhere</strong>. <br />
        This page just converts a text list into an image. You need to save your
        list somewhere else, use
        <a href="https://simplenote.com/">Simplenote</a> or whatever
      </p>
    </div>
  </div>
</div>
<div class="has-text-centered" style="margin-top: 16px">
  <h1 class="title">FAQ</h1>
</div>
<div class="columns" style="margin-top: 16px">
  <div class="column">
    <div class="box">
      <span class="subtitle has-text-weight-bold"
        >Topster has shut down and this is all that's left, however I don't like
        typing out a whole list of albums</span
      >
      <p>
        While I personally think that this way of doing things is way easier, I
        do get that some people might not prefer it. However this site is what
        it is and I will not make a full-blown topsters replacement
      </p>
      <p>
        There are some other alternatives on the block that you might like more:
      </p>
      <ul>
        <li><a href="https://topsters.org/">https://topsters.org/</a></li>
        <li>
          <a href="https://xsaardo.github.io/Album-Art-Collage-Creator/"
            >https://xsaardo.github.io/Album-Art-Collage-Creator/</a
          >
        </li>
      </ul>
    </div>
    <div class="box">
      <span class="subtitle has-text-weight-bold"
        >Can i use different fonts?</span
      >
      <p>
        No, this one looks good enough and can display most weird unicode
        characters.
      </p>
    </div>
  </div>
  <div class="column">
    <div class="box">
      <span class="subtitle has-text-weight-bold">Can I turn off titles?</span>
      <p>
        If someone can convince me, how that could be useful, I might maybe add
        the option
      </p>
    </div>
    <div class="box">
      <span class="subtitle has-text-weight-bold"
        >Any chance on adding collage mode?</span
      >
      <p>
        I personally have never really seen anyone using it and also think it
        looks like shit, so probably not
      </p>
    </div>
    <div class="box">
      <span class="subtitle has-text-weight-bold"
        >Did anyone actually ask these frequently asked questions?</span
      >
      <p>No</p>
    </div>
  </div>
</div>

{% endblock %}
