{% extends "page.html" %} {% block content %}
<div x-data="mainData">
  <h1 class="title">Very Stupid Chart Renderer</h1>
  <a href="/help" class="is-size-3">Please read this first</a>
  <div class="columns" style="margin-top: 20px">
    <div class="column">
      <div class="field">
        <label for="source">Source</label>
        <div class="select">
          <select name="source_type" id="source" x-model="source">
            {% for option in sources %}
            <option value="{{ option.value }}">
              {{ option.display_value }}
            </option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="field">
        <label for="sliderWithValue">Columns</label>
        <input
          name="columns"
          id="sliderWithValue"
          class="slider has-output is-fullwidth"
          min="1"
          max="12"
          x-model="columns"
          step="1"
          type="range"
          style="width: 50%; margin-left: 16px"
        />
        <output
          id="sliderOutput"
          for="sliderWithValue"
          x-text="columns"
        ></output>
      </div>
      <div class="field">
        <textarea
          name="input"
          class="textarea"
          placeholder="Celtic Frost - Prototype"
          rows="16"
          x-model="text"
        ></textarea>
      </div>
      <div class="field">
        <div class="has-text-centered" style="margin-top: 16px">
          <template x-if="loading"
            ><progress class="progress is-small is-primary" max="100"></progress
          ></template>
          <template x-if="!loading">
            <button @click="go" class="button is-primary">Render!</button>
          </template>
        </div>
      </div>
      <template x-if="error">
        <div class="notification is-danger">
          <button class="delete" @click="error = false"></button>
          An error occured, please try again
        </div>
      </template>
    </div>
    <div class="column">
      <template x-if="imgUrl">
        <div class="box">
          <a :href="imgUrl" target="_blank">
            <img :src="imgUrl" />
          </a>
        </div>
      </template>
    </div>
  </div>
</div>
<script>
  bulmaSlider.attach();

  document.addEventListener("alpine:init", () => {
    Alpine.data("mainData", () => ({
      text: "",
      source: "lastfm",
      columns: 5,
      imgUrl: null,
      loading: false,
      error: false,
      jobId: null,

      async go() {
        this.error = false;
        this.loading = true;
        const data = {
          input: this.text,
          source_type: this.source,
          columns: this.columns,
        };
        try {
          const r = await fetch("/chart", {
            method: "POST",
            headers: {
              "content-type": "application/json",
            },
            body: JSON.stringify(data),
          });
          this.jobId = await r.json();
          setTimeout(() => {
            this.updateJob(0);
          }, 200);
        } catch (e) {
          this.error = true;
          this.loading = false;
        }
      },

      async updateJob(attempt) {
        if (!this.jobId) {
          return;
        }
        if (attempt > 10) {
          this.error = true;
          this.loading = false;
          return;
        }
        try {
          const r = await fetch(`/job/${this.jobId}`, {
            method: "GET",
          });
          const status = await r.json();
          if (status.status === "running") {
            setTimeout(() => {
              this.updateJob(attempt + 1);
            }, 2000);
          } else if (status.status === "done") {
            this.imgUrl = status.output;
            this.loading = false;
          } else if (status.status === "error") {
            console.error(status.output);
            this.error = true;
            this.loading = false;
          }
        } catch (e) {
          console.error(`Error updating job: ${e}`);
          setTimeout(() => {
            this.updateJob(attempt + 1);
          }, 1000);
        }
      },
    }));
  });
</script>

{% endblock %}
