<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Very Stupid Chart Renderer</title>
    <meta name="description" content="Very Stupid Chart Renderer" />
    <meta name="author" content="fleshgolem" />

    <meta property="og:title" content="Very Stupid Chart Renderer" />
    <meta property="og:type" content="website" />
    <meta
      property="og:description"
      content="The chart renderer that barely even works"
    />
    <meta property="og:image" content="image.png" />

    <link rel="stylesheet" href="/static/bulmaswatch2.min.css" />
    <link rel="stylesheet" href="/static/bulma-slider.min.css" />
    <script src="/static/bulma-slider.min.js"></script>
    <script src="/static/alpine.min.js" defer></script>
  </head>

  <body>
    <section class="section">
      <div class="container">{% block content %}{% endblock %}</div>
    </section>
  </body>
</html>
